.body {
    background-color: #f1ece7;
}

.login__title {
    text-align: center;
    color: #8B7969;
    font-size: 25px;
}

.login__container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: auto;
}

.login__form {
    max-width: 500px;
    /* 最大幅を500pxに設定 */
    width: 90%;
    /* 幅は親要素の幅に合わせる */
    margin: 0 auto;
    /* 中央に配置 */
    padding: 10%;
    /* 内側に余白を追加 */
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 1rem;
    width: 100%;
}

.form-label {
    display: block;
    margin-bottom: 0.5rem;
    text-align: left;
    color: #8B7969;
    font-size: 16px;
    font-weight: bold;
}

.form-input {
    display: block;
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: #F4f4f4;
    border: none;
    color: #8B7969;
}

.submit-button {
    border: none;
    background-color: #8B7969;
    color: white;
    padding: 5px 20px;
    margin-top: 25px;
}

.error-message {
    color: red;
    text-align: left;
    font-size: 14px;
}